 {{!-- {{#each notebooks}} --}}
<main class="container-fluid">  
  
  <!-- Swiper -->
  <div class="slayd container-fluid">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://pngimg.com/uploads/macbook/macbook_PNG68.png" />
        </div>
        <div class="swiper-slide">
          <img src="https://pngimg.com/uploads/macbook/macbook_PNG66.png" />
        </div>
        <div class="swiper-slide">
          <img src="https://www.pngarts.com/files/1/MacBook-Pro-PNG-Photo.png" />
        </div>
        <div class="swiper-slide">
          <img src="https://pngimg.com/uploads/macbook/macbook_PNG101753.png" />
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.pixabay.com/photo/2020/06/26/13/20/macbook-pro-5342709_1280.png" />
        </div>
        <div class="swiper-slide">
          <img src="https://pngimg.com/uploads/macbook/macbook_PNG101749.png" alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
   
 
  </main>
  {{!-- {{/each}} --}}
  